-----------------------
---- colors xxdxdd ----
-----------------------

hl.config({
    general = {
        col = {
            active_border   = { colors = {rgba("{{color4 | strip}}ff)", "{{color6 | strip}}ff)"}, angle = 45 },
            inactive_border = "rgba({{background | strip}}aa)",
        },
    },
})
