[main]
font=JetBrainsMono Nerd Font:size=11
terminal=kitty
prompt="❯ "
layer=overlay

[colors]
background={{background | strip}}dd

text={{foreground | strip}}ff

match={{color4 | strip}}ff

selection={{color4 | strip}}b3

selection-text={{background | strip}}ff

selection-match={{foreground | strip}}ff

border={{color4 | strip}}ff

[border]
width=2
radius=10